body{
    margin: 10px;
    padding: 0px;
    background-color: whitesmoke;
    color:red;
    text-align: center;
}

ul a{
    text-decoration: none;
}

ul{
    position: relative;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 100px;
    
    display: inline-block;
    max-width: 200px;
    min-width: 150px;
    padding: 30px;
    margin: 5px;
    background-color: rgb(194, 194, 206);
    list-style: none;
    border-radius: 10px;
}
.nafn{
    position: absolute;
    color: white;
    top: 5%;
    left: 5%;
    
}
.todo{
    position: absolute;
    color: black;
    font-size: small;
    top: 25%;
}
.timi{
    position: absolute;
    color: rgb(117, 112, 112);
    bottom: 18%;
    left: 5%;
}
.eyda{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

