<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heimavinna</title>
    <link rel="stylesheet" href="../static/styles4.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/layer1_CKe_icon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<div class="navbar">
    <a href="{{ url_for('index') }}">Heim</a>
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href= "{{ url_for('settings') }} ">Stillingar</a>
        <a href=" {{ url_for('login') }} "> Logout </a>
      </div>
    </div>
  </div>
<header>

    <object class="container" type="image/svg+xml" data="/static/heimavinnalogo.svg"></object>
  </header>
<body class="html">

    <div class="main">
    <form action="/add" method="post">
        
            <label for="title"></label>
            <input type="text" name="title" placeholder="Sláðu inn heimavinnu" autofocus="autofocus" onfocus="this.select()" required>
            <button type="submit">Bæta við</button>
        </div>


    </form>

    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui big header"> <!--{{todo.id }} |--> {{ todo.title }} </p>

        {% if todo.complete == False %}
            <span class="ui gray label">Ekki búið</span>

        {% else%}
            <span class="ui green label">Búið</span>
        {% endif%}

        <a class="ui blue button" href="/update/{{todo.id}}">Uppfæra</a>
        <a class="ui red button" href="/delete/{{todo.id}}">Eyða</a>

    </div>
    {% endfor %}
    <style>
        .footer {
          position: fixed;

          left: 0;
          bottom: 0;
          width: 100%;
          background-color: #dddddd;
          color: white;
          text-align: center;
        }

        </style>
        
        <div class="footer">
      
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
      
    
      <div class='footer'>
        <a href="https://github.com/Heimavinna/kodi" target="_blank">
      <i class="fab fa-github" style='font-size:30px'></i></a>
      </div>

</body>
</html>