<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
</head>
<body>
    <h1>Heimavinna</h1>

    <form action="/add" method="post">
        <div>
            <label for="title">Heimavinna</label>
            <input type="text" name="title" placeholder="Sláðu inn heimavinnu">
            <button type="submit">Bæta við</button>
        </div>


    </form>

    {% for todo in todo_list %}
        <p> {{todo.id }} | {{ todo.title }} </p>

        {% if todo.complete == False %}
            <span>Ekki búið</span>

        {% else%}
            <span>Búið</span>
        {% endif%}

        <a href="/update/{{todo.id}}">Uppfæra</a>
        <a href="/delete/{{todo.id}}">Eyða</a>


    {% endfor %}

</body>
</html>