<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='loginStyle.css') }}">
		<title>Login</title>
	</head>
	<body>
		<header>
			<h1>Innskráning</h1>
		</header>
		<section>
			<form action="login" method="post" class="loginBox">
				<input id="Lusername" class="textInput" name="username" type="text" placeholder="Notendanafn" autocomplete="off" spellcheck="false" required onkeypress="return event.charCode != 32" required>
				<input id="Lpassword" class="textInput" name="password" type="password" placeholder="Lykilorð" spellcheck="false" required onkeypress="return event.charCode != 32" required>
				<input id="LsubmitBtn" class="submitBtn" type="submit" value="Innskrá">
			</form>
			<a href="{{ url_for('register') }}"><p class="linkClass">Nýr Notandi</p></a>
		</section>

		<script src="{{ url_for('static', filename='loginJSfunctions.js') }}"></script>
	</body>
</html>