<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='registerStyle.css') }}">
		<title>Nýr Notandi</title>
	</head>
	<body>
		<header>
			<h1>Nýr Notandi</h1>
		</header>
		<section>
			<form action="register" method="post" class="registerBox">
				<input class="textInput" name="realname" type="text" placeholder="Nafn" autocomplete="off">
				<input class="textInput" name="username" type="text" placeholder="Notendanafn" autocomplete="off">
				<input class="textInput" name="password" type="password" placeholder="Lykilorð" id="passwordField">
				<input class="submitBtn" type="submit" value="Skrá Notanda">
			</form>
		</section>

		<script>
			function show_hide_password() {
				let passwordField = document.getElementById('passwordField');
				if(passwordField.type == 'password') {
					passwordField.type = 'text';
				} else {
					passwordField.type = 'Password';
				}
			}
		</script>
	</body>
</html>